p
  img(src="https://static.passmarked.com/text128.png")
p As you might have concluded, this is the homepage for your <a href="https://github.com/passmarked/crawlable">passmarked/crawlable</a> server.
p The server was run to produce <strong>#{locals.pagecount}</strong> pages that are shown over <strong>#{locals.dirs}</strong> directories.
p To install on your own machine, run:
p 
  strong npm install -g @passmarked/crawlable
p See <a href="https://github.com/passmarked/crawlable">passmarked/crawlable</a> for more configuration options, but that's it. Enjoy your large fake site !
include nav